{% extends 'base.html.twig' %}

{% block title %}ReasonOfAppointment index{% endblock %}

{% block body %}
    <h4>Reason of Appointment </h4>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reason_of_appointment in reason_of_appointments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ reason_of_appointment.name }}</td>
                <td>{{ reason_of_appointment.description }}</td>
                <td>
                    <a href="{{ path('app_reason_of_appointment_show', {'id': reason_of_appointment.id}) }}">show</a>
                    <a href="{{ path('app_reason_of_appointment_edit', {'id': reason_of_appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reason_of_appointment_new') }}">Create new</a>
{% endblock %}
