{% extends 'base.html.twig' %}

{% block title %}Outcome index{% endblock %}

{% block body %}
    <h4>Outcome index</h4>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for outcome in outcomes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ outcome.name }}</td>
                <td>{{ outcome.description }}</td>
                <td>
                    <a href="{{ path('outcome_show', {'id': outcome.id}) }}">show</a>
                    <a href="{{ path('outcome_edit', {'id': outcome.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('outcome_new') }}">Create new</a>
{% endblock %}
