{% extends 'base.html.twig' %}

{% block title %}Kebele index{% endblock %}

{% block body %}
    <h1>Kebele index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Discription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kebele in kebeles %}
            <tr>
                <td>{{ kebele.id }}</td>
                <td>{{ kebele.name }}</td>
                <td>{{ kebele.discription }}</td>
                <td>
                    <a href="{{ path('kebele_show', {'id': kebele.id}) }}">show</a>
                    <a href="{{ path('kebele_edit', {'id': kebele.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kebele_new') }}">Create new</a>
{% endblock %}
