{% extends 'base.html.twig' %}

{% block title %} Attendants {% endblock %}

{% block body %}
    <h4>List of attendants</h4>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th> Visitor Name</th>
            
                <th>Sex</th>
                    <th>Relationship </th>
                    <th> Atendant</th>
                    <th>Date of visit</th>
                    <th>Patient </th>
             
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visitor in visitors %}
            <tr>
                 <td>{{ loop.index }}</td>
                <td>{{ visitor.firstName }} {{ visitor.lastName }}</td>
               
                <td>{{ visitor.sex }}</td>
                <td>{{ visitor.relation }}</td>
                  <td>{{ visitor.firstName  }} {{ visitor.lastName  }}</td>
                 	
                 
                 
                <td>{{ visitor.dateOfVisit ? visitor.dateOfVisit|date('Y-m-d H:i:s') : '' }}</td>
                 <td>{{visitor.patient }}</td>
                <td>{{ visitor.user }}</td>
                <td>

                    <a class="btn btn-xs btn-info" href="{{ path('visitor_show', {'id': visitor.id}) }}" title="Show Visitor">
					<i class="fa fa-user"></i> Show
				   </a>
                   <a class="btn btn-xs btn-warning" href="{{ path('visitor_edit', {'id': visitor.id}) }}" title="Edit Visitor">
					<i class="fa fa-user"></i> Edit
				   </a>

            
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No attendants found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
