{% extends 'base.html.twig' %}

{% block title %}Nationality index{% endblock %}

{% block body %}
    <h4>Nationality </h4>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nationality in nationalities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ nationality.name }}</td>
                <td>
                    <a class="btn btn-sm btn-info btn-white btn-round"  href="{{ path('app_nationality_show', {'id': nationality.id}) }}"> <i class="ace-icon fa fa-eye bigger-120"></i> Show</a>
                    <a class="btn btn-sm btn-warning btn-white btn-round"  href="{{ path('app_nationality_edit', {'id': nationality.id}) }}"> <i class="ace-icon fa fa-pencil bigger-120"></i>Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nationality_new') }}">Create new</a>
{% endblock %}
