{% extends 'base.html.twig' %}

{% block title %}DiseaseCategory index{% endblock %}

{% block body %}
    <h1>DiseaseCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disease_category in disease_categories %}
            <tr>
                <td>{{ disease_category.id }}</td>
                <td>{{ disease_category.name }}</td>
                <td>{{ disease_category.description }}</td>
                <td>
                    <a href="{{ path('app_disease_category_show', {'id': disease_category.id}) }}">show</a>
                    <a href="{{ path('app_disease_category_edit', {'id': disease_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_disease_category_new') }}">Create new</a>
{% endblock %}
