{% extends 'base.html.twig' %}

{% block title %}HealthFacility{% endblock %}

{% block body %}
    <h1>HealthFacility</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ health_facility.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ health_facility.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('health_facility_index') }}">back to list</a>

    <a href="{{ path('health_facility_edit', {'id': health_facility.id}) }}">edit</a>

    {{ include('health_facility/_delete_form.html.twig') }}
{% endblock %}
