{% extends 'base.html.twig' %}

{% block title %}Program {% endblock %}

{% block body %}
    <h4>List of programs</h4>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Program name</th>
                <th> Department </th>
                   <th> Study year  </th>
                <th> Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.name }}</td>
                   <td>{{ program.department }}</td>
                      <td>-</td>
                <td>
                    <a href="{{ path('app_program_show', {'id': program.id}) }}">Show</a>
                    <a href="{{ path('app_program_edit', {'id': program.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_program_new') }}">Create new</a>
{% endblock %}
