{% extends 'base.html.twig' %}

{% block title %}ReasonOfReferral{% endblock %}

{% block body %}
    <h1>ReasonOfReferral</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reason_of_referral.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ reason_of_referral.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reason_of_referral.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reason_of_referral_index') }}">back to list</a>

    <a href="{{ path('app_reason_of_referral_edit', {'id': reason_of_referral.id}) }}">edit</a>

    {{ include('reason_of_referral/_delete_form.html.twig') }}
{% endblock %}
