

<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="{{asset('assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset("assets/css/shared/style.css") }}">
		
	</head>
	<body>

		
		<div style="display:block; width:100%">
		<img src="{{ asset('http://10.142.65.11/IMS/public/assets/assets/logo/logo.jpg') }}" style="float: right;" width="70" height="70"> 
		
			<span> <img src="{{ asset('http://10.142.65.11/IMS/public/assets/assets/logo/logo.png') }}" width="70" height="70" >  
                   
				   <strong><p style="text-align:center; font-size:18px;margin-top:0px !important;"><u> Jimma Medcial Center </u></p> </strong> 	</span> 
                     
				<p style="text-align:left; margin-top:0px !important;"> Patient Appointment Card </p> 	
				
				</span> 
				
                  <hr/>
			      <span style="float: right;">Print Date :
			<u>	 {{ eth_date2(appointment.appointAt) }}  E.C </u><span><br/>
					
				</div>
			
			
				<div style="display:block; width:100%">
					<br>
					 Patient Name :
					<u>{{ appointment.patient.fname }}  {{ appointment.patient.mname }}  {{ appointment.patient.lname }}</u>
					<br>
					 <br>
				
	             	 Medical Record Number:
					<u>{{ appointment.patient.mrn }}</u>
					 <br>
					<br>
				
				
					Date of Appointment :
					<u> {{ eth_date2( appointment.appointedAt) }} ({{ appointment.shift }})
					
					{% if appointment.shift =='Morning' %}
					
					[2:00 - 6:00]   E.C

					{% else %}
                  	[7:00 - 11:00]   E.C
					{% endif %}
					
					</u>
					<br>
                    <br>
				

					Reason of Appointment :
					<u>{{ appointment.reason ? appointment.reason: 'No reason of appointment note' }}</u>
					<br>
                   <br>
				
				   	Appointed after :
					<u> {{ appointment.totalDays }} days </u> 
					<br>
					<br>

					  	Appointed for :
					<u> {{ appointment.whyAppointed }} </u> 
					<br>
					<br>
					
					
				</div>
               <br><br> 
			   
			 
			  
				
	           <span style="float: right;">{{ appointment.user }} <br> <br>____________________<span>
				<br>

		
	</body>
</html>