{% extends 'base.html.twig' %}

{% block title %}List of beds {% endblock %}

{% block body %}
 <div class="col-xs-12">
                            


							

<div class="widget-header widget-header-blue widget-header-flat">
	 <i class="fa fa-bed"></i>
<u> List of beds</u> 
		<div class="pull-right tableTools-container">
              	<div class="pull-right tableTools-container">
								{# <a href="{{ path('add_bed') }}" class="btn btn-info btn-sm float-right"> <i class="fa fa-plus"></i> Add new bed </a> #}

					     	<a href="{{ path('home') }}" class="btn btn-info btn-sm float-right">  <i class="fa fa-close"></i> Close </a>
	    
						

         

	                        </div>
                            
	   </div>
		</div>


    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Code </th>
                <th>Location </th>
               
                <th>Is functional ?</th>
                 <th>Accessibility</th>
                 <th>Current Status </th>
             
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bed in beds %}

				    {% if bed.isFunctional== true %}

				    <tr>
				  {% else %}
                   <tr style="background-color:rgb(255,99,71,0.5);">
	               
					{% endif %}


        
                <td>{{ loop.index }}</td>

                   {% if bed.currentStatus==1 or bed.currentStatus==2 %}
                   <td> <a href="{{ path('bed_show', {'id': bed.id}) }}" >  {{ bed.name }} </a></td>
                   {% else %}
				   <td>  {{ bed.name }} </td>
               
				   {% endif %}

                  <td> {{ bed.room.unit.ward }}/{{ bed.room.unit }}/{{ bed.room }} </td>
            

				    {% if bed.isFunctional== true %}

				  <td>{{ bed.isFunctional ? 'Yes' : 'No' }}</td>
				  {% else %}

	               <td style="color:red;" >{{ bed.isFunctional ? 'Yes' : 'No' }}</td>
					{% endif %}


              
             
            
				    {% if  bed.accessibility ==1 %}

					   <td style="color:red;"> Occupied </td>

			
	 			  {% else %}
	                 <td> Free </td>
	             
					{% endif %}

	
                {% if bed.currentStatus==1 %}

				  <td> Impending </td>
				  {% else %}

	                <td> Non-Impending </td>
					{% endif %}
                
                <td>
               

                    <a class="btn btn-sm btn-info btn-white btn-round" href="{{ path('bed_show', {'id': bed.id}) }}" title="Show Bed">
					<i class="ace-icon fa fa-eye bigger-120"></i>  View
				   </a>

                   	<a class="btn btn-sm btn-warning btn-white btn-round" href="{{ path('bed_edit', {'id': bed.id}) }}" title="Edit">
						<i class="ace-icon fa fa-pencil bigger-120"></i> Edit
				   </a>


                   

                
                
													<div class="inline dropdown-hover">
														<button class="btn btn-sm btn-info btn-white btn-round">
                                                        
														<b>		<i class="ace-icon fa fa-list bigger-120"></i>&nbsp; More</b>
															<i class="ace-icon fa fa-angle-down icon-on-right bigger-110"></i>
														</button>

														<ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
															<li class="active">
																<a href="#" class="blue">
																	<i class="ace-icon fa fa-plus bigger-110"> &nbsp;</i>
																	Add Impending
																</a>
															</li>


	                                                           <li>
																<a href="#">
																	<i class="ace-icon fa fa-exchange  bigger-110">&nbsp;</i>
																	Change status
																</a>
															</li>
                                                     {% if bed.currentStatus==1 %}

															<li>
																<a href="#">
																	<i class="ace-icon fa fa-bed bigger-110">&nbsp;</i>
																	Who is occupied now?
																</a>
													
														</li>
															{% endif %}	

	                                                     	<li>
																<a href="#">
																	<i class="ace-icon fa fa-file bigger-110 ">&nbsp;</i>
																	History
																</a>
															</li>
                                                   {% if bed.currentStatus !=1 %}
															<li>
																<a href="{{ path('bed_delete', {'id': bed.id}) }}">
																	<i class="ace-icon fa fa-trash bigger-110 ">&nbsp;</i>
																	Delete 
																</a>
															</li>
                                                	{% endif %}	
													
														</ul>
													</div>
												
                </td>

                 

            
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No beds found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="pull-right" style="margin-right:10px;" id="custompaginator">{{ knp_pagination_render(beds) }}</div>

{% endblock %}


