	                     <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-wrench"></i>
							<span class="menu-text"> Setting</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
					

					


						
							 {# {% if is_granted("app_zone_index") %} #} 

							         <li class="">
								<a href="{{ path('app_exam_type_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								Exam type
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}



						
							 {# {% if is_granted("app_zone_index") %} #} 

							         <li class="">
								<a href="{{ path('app_college_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								College
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}


                        	{% if is_granted("vew_region") %}
							<li class="">
								<a href="{{path('app_region_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									Region
								</a>

								<b class="arrow"></b>
							</li>
							  {% endif %}

						{% if is_granted("vew_zon") %}
								<li class="">
								<a href="{{path('app_zone_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									Zone
								</a>

								<b class="arrow"></b>
							</li>
					   {% endif %}
					   		{% if is_granted("viw_woreda") %}
			
								<li class="">
								<a href="{{path('woreda_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									Woreda
								</a>

								<b class="arrow"></b>
							</li>
							   {% endif %}


					       {% if is_granted("vew_dept") %}

		                       <li class="">
								<a href="{{ path('app_department_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									Departments
								</a>

								<b class="arrow"></b>
							</li>
						 {% endif %}


					  {# {% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_campus_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									Campus
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}


						 {# {% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_program_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									Program
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}



						 {# {% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_program_level_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									Program level
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %}

                              {% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_modality_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									Modality
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %}



							 {% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_nationality_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								Nationality
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}

						  {#{% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_semester_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								Semester
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}

						  {#{% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_year_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								Year
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}


                              {#{% if is_granted("app_zone_index") %} #}

							         <li class="">
								<a href="{{ path('app_course_type_index') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								Course type
								</a>

								<b class="arrow"></b>
							</li>
								 {# {% endif %} #}


							







							

						</ul>
					</li>