	<div id="sidebar" class="sidebar responsive ace-save-state">		
{#                     
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
				<h4>Jimma University ICT </h4>
				</div><!-- /.sidebar-shortcuts -->
				 #}
<!--  Side nav Menu -->
		
				<ul class="nav nav-list">

				

					<li class="">
						<a href="{{path('home')}}">
							<i class="menu-icon fa fa-home"></i>
							<span class="menu-text"> Home </span>
						</a>

						<b class="arrow"></b>
					</li>

			
	           {% if is_granted("vew_dashboard") %} 

	
	                      <li class="">
						<a href="{{path('dashboard')}}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>
	            {% endif %}
            {% if is_granted("tv_dashboard") %} 
					
	              <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-tv"></i>
							<span class="menu-text"> TV Dashboard  </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">



							<li class="">
								<a href="{{path('tv_dashboard')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									At Liasion Office
								</a>

								<b class="arrow"></b>
							</li>

						
							<li class="">
								<a href="{{ path('tv_dashboard_emerge') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								    At emeregency
								</a>

								<b class="arrow"></b>
							</li>
						

		
							<li class="">
								<a href="{{path('tv_dashboard_peda') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									At  Pediatrics emergency
								</a>

								<b class="arrow"></b>
							</li>


									
							<li class="">
								<a href="{{ path('tv_dashboard_optha') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									At  Opthamology
								</a>

								<b class="arrow"></b>
							</li>

							
						</ul>
					</li>
                
	 {% endif %}
      

				

  {% if is_granted("viw_patient") %} 
			        <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-wheelchair"></i>
							<span class="menu-text"> Patients </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
						  {% if is_granted("ad_new_pnt") %} 
							<li class="">
								<a href="{{path('patient_new')}}">
									<i class="menu-icon fa fa-caret-right"></i>
								    New patient
								</a>

								<b class="arrow"></b>
							</li>
							{% endif %}
                   {% if is_granted("viw_patient") %} 
							<li class="">
								<a href="{{path('patient_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									List of patient
								</a>

								<b class="arrow"></b>
							</li>
						{% endif %}

						  {% if is_granted("viw_encter") %} 
					<li class="">
						<a href="{{path('encounter_view')}}">
							<i class="menu-icon fa fa-caret-right"></i>
							<span class="menu-text"> Encounters </span>
						</a>

						<b class="arrow"></b>
					</li>
	            {% endif %}

		  {% if is_granted("view_apnt") %} 
					<li class="">
						<a href="{{path('appointment_index')}}">
							<i class="menu-icon fa fa-caret-right"></i>
							<span class="menu-text"> Today Appointment </span>
						</a>

						<b class="arrow"></b>
					</li>
	            {% endif %}
	 						
						</ul>
					</li>
                    {% endif %}

		  {% if is_granted("manage_inpatient") %} 
			        <li class="">
						<a href="#" class="dropdown-toggle">
								<i class="menu-icon fa fa-bed"></i>
							<span class="menu-text"> Inpatients </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
				    {% if is_granted("vw_admsion") %} 
			 
					<li class="">
						<a href="{{path('admimssion_index')}}">
							<i class="menu-icon fa fa-bed"></i>
							<span class="menu-text"> Adminssions </span>
						</a>

						<b class="arrow"></b>
					</li>
					{% endif %}
                     {% if is_granted("viw_bed_transfer") %} 
							
							<li class="">
								<a href="{{path('app_bed_transfer_history_index')}}">
									<i class="menu-icon fa fa-exchange"></i>
									Bed transfers
								</a>

								<b class="arrow"></b>
							</li>
						{% endif %}
	              {% if is_granted("viw_wait") %} 
              
	                 <li class="">
					    	<a href="{{ path('waiting_info')}}">
							<i class="menu-icon fa fa-clock-o"></i>
							 Waiting List
							
				
						</a>

						<b class="arrow"></b>
					</li>
              {% endif %}

			  
               {% if is_granted("vew_appnt") %} 
              
	        
					<li class="">
						<a href="{{path('appointment_index')}}">
							<i class="menu-icon fa fa-calendar"></i>
							<span class="menu-text"> Appointments </span>
						</a>

						<b class="arrow"></b>
					</li>
                {% endif %}

			 {% if is_granted("viw_atendt") %} 
						
                    <li class="">
						<a href="{{path('visitor_index')}}">
							<i class="menu-icon fa fa-group"></i>
							<span class="menu-text"> Atendant </span>
						</a>

						<b class="arrow"></b>
					</li>
				  {% endif %}

	           	{% if is_granted("viw_slip") %} 
						<li class="">
						<a href="{{path('slip_index')}}">
							<i class="menu-icon fa fa-file"></i>
							<span class="menu-text"> Patient Slips </span>
						</a>

						<b class="arrow"></b>
					</li>
					{% endif %}
						
							
						</ul>
					</li>
  {% endif %}





	{% if is_granted('ROLE_CHECKPOINT') %}  

	{% if is_granted("viw_own_ward") %} 

			 <li class="">
                	<a href="{{ path('units_in_ward', {'id': app.user.ward.id}) }}" class="dropdown-toggle">
							<i class="menu-icon fa fa-hospital-o"></i>
							<span class="menu-text"> In {{ app.user.ward }} </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>


                    <b class="arrow"></b>
            
			    <ul class="submenu">
                     
					    <li class="">

                            <a href="{{ path('units_in_ward', {'id': app.user.ward.id}) }}" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>  List of Units
                                <b class="arrow fa fa-angle-down"></b>
                            </a>


                            <b class="arrow"></b>
							

			                  <ul class="submenu">
							  	<li class="">


						  <a href="{{ path('units_in_ward', {'id': app.user.ward.id}) }}">
							<i class="menu-icon fa fa-caret-right"></i>
							 All Units
							<span class="badge badge-danger" title="There are patients who are not checked in yet!">  {{ app.user.ward.units|length }}</span> 
				
						</a>


								<b class="arrow"></b>
							</li>
                       {% for unit in app.user.ward.units %}
							<li class="">


						  <a href="{{ path('rooms_in_unit', {'id': unit.id}) }} ">
						
							<i class="menu-icon fa fa-caret-right"></i>
							 {{ unit }}
							<span class="badge badge-danger" title="There are patients who are not checked in yet!">  {{ unit.rooms|length }}</span> 
				
						</a>


								<b class="arrow"></b>
							</li>
                     {% endfor %}
                                    </ul>
                              
                        </li>
                    </ul>
                </li>
					
		    {% endif %}
			   {% endif %}
			   
	{% if is_granted('ROLE_CHECKPOINT') %}  
	{% if is_granted("viw_own_patient") %} 
		
  
	              <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-users"></i>
							<span class="menu-text"> Patients</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
						
							<li class="">
						   {% set waitinglist = 0 %}
						    {% for unit in app.user.ward.units  %}
						     {% for room in unit.rooms %}
                              {% for bed in room.beds %}
							     {% for admimssion in bed.admimssions %}
									{% if admimssion.isCheckedIn  == 0 %}
										{% if admimssion.dischargedAt  is null %}
										{% set waitinglist = waitinglist+ 1 %}
									 {% endif %}
								 {% endif %}
							   {% endfor %}
							     {% endfor %}
								     {% endfor %}
									   {% endfor %}

						  <a href="{{ path('new_adminssions', {'id': app.user.ward.id}) }}">
							<i class="menu-icon fa fa-caret-right"></i>
							 Waiting List
							<span class="badge badge-danger" title="There are {{ waitinglist }} patients who are not checked in yet!">  {{ waitinglist }} </span> 
				
						</a>


								<b class="arrow"></b>
							</li>


							<li class="">
								<a href="{{ path('myAdmitted', {'id': app.user.ward.id}) }}">
									<i class="menu-icon fa fa-caret-right"></i>
								  Admitted Patients
								  
								</a>

								<b class="arrow"></b>
							</li>

					     	<li class="">
								<a href="{{ path('my_discharges', {'id': app.user.ward.id}) }}">
									<i class="menu-icon fa fa-caret-right"></i>
								Discharged Patients
								</a>

								<b class="arrow"></b>
							</li>
				
						</ul>
					</li>
                    {% endif %}    
					   {% endif %}

        	{% if is_granted('manage_usr') %} 
			

			             <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-user"></i>
							<span class="menu-text"> User Managment </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							{% if is_granted('view_usr_list') %} 
							<li class="">
								<a href="{{path('user_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
								       List of User
								</a>

								<b class="arrow"></b>
							</li>
							   {% endif %}

							   	{% if is_granted('view_grp') %} 

							<li class="">
								<a href="{{path('user_group_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									User Group
								</a>

								<b class="arrow"></b>
							</li>
							   {% endif %}
	                       {% if is_granted('view_prmsn') %} 
								<li class="">
								<a href="{{path('permission_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									Permissions
								</a>

								<b class="arrow"></b>
							</li>
							   {% endif %}

						</ul>
					</li>

                 {% endif %}
				 

	{% if is_granted("manage_seting") %} 
				
						{% include "menu/setting.html.twig" %}
	 {% endif %}


	{% if is_granted("generate_report") %} 

             
	              	<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-print"></i>
							<span class="menu-text"> Reports </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="{{ path("referral_report") }}">
									<i class="menu-icon fa fa-caret-right"></i>
									Referral Report
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="{{ path("appointment_report") }}"> 
									<i class="menu-icon fa fa-caret-right"></i>
									Appointment Report
								</a>

								<b class="arrow"></b>
							</li>

								<li class="">
								<a href="{{ path("admimssion_report") }}">
									<i class="menu-icon fa fa-caret-right"></i>
							        	Addmission Report
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="{{ path("general_report") }}"> 
									<i class="menu-icon fa fa-caret-right"></i>
							        	General Report
								</a>
								<b class="arrow"></b>
							</li>

			
						</ul>
						</li>
			  {% endif %}
							 
						 {% if app.user %}
					         <li class="">
								<a href=" {{ path('app_logout') }}">
									<i class="menu-icon fa fa-sign-out"></i>
									Logout
								</a>

								<b class="arrow"></b>
							</li>
							{% endif %}
					</li>

					

			
				</ul><!-- /.nav-list -->
				
				
		
		
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>