	<div id="sidebar" class="sidebar responsive ace-save-state">		
{#                     
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
				<h4>Jimma University ICT </h4>
				</div><!-- /.sidebar-shortcuts -->
				 #}
<!--  Side nav Menu -->
		
				<ul class="nav nav-list">

				

					<li class="">
						<a href="{{path('home')}}">
							<i class="menu-icon fa fa-home"></i>
							<span class="menu-text"> Home </span>
						</a>

						<b class="arrow"></b>
					</li>

			
	           {% if is_granted("vew_dashboard") %} 

	
	                      <li class="">
						<a href="{{path('dashboard')}}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>
	            {% endif %}
            {% if is_granted("tv_dashboard") %} 
					
	              <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-tv"></i>
							<span class="menu-text"> TV Dashboard  </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">



							<li class="">
								<a href="{{path('tv_dashboard')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									At Liasion Office
								</a>

								<b class="arrow"></b>
							</li>

						
							<li class="">
								<a href="{{ path('tv_dashboard_emerge') }}">
									<i class="menu-icon fa fa-caret-right"></i>
								    At emeregency
								</a>

								<b class="arrow"></b>
							</li>
						

		
							<li class="">
								<a href="{{path('tv_dashboard_peda') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									At  Pediatrics emergency
								</a>

								<b class="arrow"></b>
							</li>


									
							<li class="">
								<a href="{{ path('tv_dashboard_optha') }}">
									<i class="menu-icon fa fa-caret-right"></i>
									At  Opthamology
								</a>

								<b class="arrow"></b>
							</li>

							
						</ul>
					</li>
                
	 {% endif %}
      

				

  {% if is_granted("viw_patient") %} 
			        <li class="">
						<a href="#" class="dropdown-toggle">
						<i class="menu-icon  fa fa-graduation-cap"></i>
					
							<span class="menu-text"> Students </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
						  {% if is_granted("ad_new_pnt") %} 
							<li class="">
								<a href="{{path('app_student_new')}}">
									<i class="menu-icon fa fa-caret-right"></i>
								    New student
								</a>

								<b class="arrow"></b>
							</li>
							{% endif %}
                   {% if is_granted("viw_patient") %} 
							<li class="">
								<a href="{{path('app_student_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									List of student
								</a>

								<b class="arrow"></b>
							</li>
						{% endif %}

						  {# {% if is_granted("viw_encter") %} 
					<li class="">
						<a href="{{path('encounter_view')}}">
							<i class="menu-icon fa fa-caret-right"></i>
							<span class="menu-text"> Encounters </span>
						</a>

						<b class="arrow"></b>
					</li>
	            {% endif %} #}
{# 
		  {% if is_granted("view_apnt") %} 
					<li class="">
						<a href="{{path('appointment_index')}}">
							<i class="menu-icon fa fa-caret-right"></i>
							<span class="menu-text"> Today Appointment </span>
						</a>

						<b class="arrow"></b>
					</li>
	     {% endif %} #}
	 						
						</ul>
					</li>
                    {% endif %}



					  {# {% if is_granted("viw_patient") %}  #}
			        <li class="">
						<a href="#" class="dropdown-toggle">
						<i class="menu-icon  fa fa-th-list"></i>
					
							<span class="menu-text"> Courses </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
						  {# {% if is_granted("ad_new_pnt") %}  #}
							<li class="">
								<a href="{{path('app_course_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
								    List courses
								</a>

								<b class="arrow"></b>
							</li>
							{# {% endif %}
                   {% if is_granted("viw_patient") %}  #}
							<li class="">
								<a href="{{path('slip_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									Prepare slip
								</a>

								<b class="arrow"></b>
							</li>
						{# {% endif %} #}
						</ul>
					</li>
                    {# {% endif %} #}

        	{% if is_granted('manage_usr') %} 

			             <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-user"></i>
							<span class="menu-text"> User Managment </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							{% if is_granted('view_usr_list') %} 
							<li class="">
								<a href="{{path('user_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
								       List of User
								</a>

								<b class="arrow"></b>
							</li>
							   {% endif %}

							   	{% if is_granted('view_grp') %} 

							<li class="">
								<a href="{{path('user_group_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									User Group
								</a>

								<b class="arrow"></b>
							</li>
							   {% endif %}
	                       {% if is_granted('view_prmsn') %} 
								<li class="">
								<a href="{{path('permission_index')}}">
									<i class="menu-icon fa fa-caret-right"></i>
									Permissions
								</a>

								<b class="arrow"></b>
							</li>
							   {% endif %}

						</ul>
					</li>

                 {% endif %}
				 

	{% if is_granted("manage_seting") %} 
				
						{% include "menu/setting.html.twig" %}
	 {% endif %}


	{% if is_granted("generate_report") %} 

             
	              	<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-print"></i>
							<span class="menu-text"> Reports </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="{{ path("referral_report") }}">
									<i class="menu-icon fa fa-caret-right"></i>
									Referral Report
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="{{ path("appointment_report") }}"> 
									<i class="menu-icon fa fa-caret-right"></i>
									Appointment Report
								</a>

								<b class="arrow"></b>
							</li>

								<li class="">
								<a href="{{ path("admimssion_report") }}">
									<i class="menu-icon fa fa-caret-right"></i>
							        	Addmission Report
								</a>
								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="{{ path("general_report") }}"> 
									<i class="menu-icon fa fa-caret-right"></i>
							        	General Report
								</a>
								<b class="arrow"></b>
							</li>

			
						</ul>
						</li>
			  {% endif %}
							 
						 {% if app.user %}
					         <li class="">
								<a href=" {{ path('app_logout') }}">
									<i class="menu-icon fa fa-sign-out"></i>
									Logout
								</a>

								<b class="arrow"></b>
							</li>
							{% endif %}
					</li>

					

			
				</ul><!-- /.nav-list -->
				
				
		
		
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>