{% extends 'base.html.twig' %}

{% block title %}New Slip{% endblock %}

{% block body %}
    {# {% if is_granted("check_in") %} #}
    <h4> List of adminssion slip for -<a href="{{ path('app_student_show', {'id': student.id }) }}"> {{ student }}  </a> &nbsp;  Program: <a href=""> {{ student.program }} </a>  &nbsp;  Admission Year: <a href=""> {{ student.academicYear }} E.C </a>   </h4>
      {# {% endif %} #}	

    {{ include('slip/_form.html.twig') }}

 
{% endblock %}

