
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="{{asset('assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset("assets/css/shared/style.css") }}">
		

			
	<style>


table {
    border-left: 0.01em solid #ccc;
    border-right: 0;
    border-top: 0.01em solid #ccc;
    border-bottom: 0;
    border-collapse: collapse;
}
table td,
table th {
    border-left: 0;
    border-right: 0.01em solid #ccc;
    border-top: 0;
    border-bottom: 0.01em solid #ccc;
}


	</style>
	</head>
	<body>
<div style="display:block; width:100%">            
<div class="widget-box">
 <div class="widget-header widget-header-flat">

 <center><strong> Jimma University </strong><br><br>
               Office of the registrar <br>
 </center> 
 <h5 class="widget-title"> <i class="ace-icon fa fa-graduation-cap" aria-hidden="true"></i>
Registration slips for {{ student.program.programLevel }} students</h5> 
<span> <small>  Slip ID : {{ slip.id}}/{{ slip.year }}/{{ slip.semester }} </small>  </span> 
  <hr>
<div class="widget-body"  style="font-size:13px;">

         <p> <i class="ace-icon fa fa-caret-right blue"> </i> Student: <a href="{{ path('app_student_show', {'id': student.id }) }}">  {{ student }} </a> </p>

         <p> <i class="ace-icon fa fa-caret-right blue"> </i> Department:<a href="#">  {{ program.programLevel.department ?? null }} </a> </p>
         <p> <i class="ace-icon fa fa-caret-right blue"> </i> Program:<a href="#">  {{ program }} </a> </p>
        
		  <p> <i class="ace-icon fa fa-caret-right blue"> </i>Academic Year: <a href="#">  {{ student.academicYear  }}  </a> </p>

         <p> <i class="ace-icon fa fa-caret-right blue"> </i> Modality: <a href="#">  {{ student.modality }} </a> </p>
        

</div>
 </div>

  <p> Year: <a href="#">  {{ year }} </a> 
      Semester: <a href="#">  {{ semester }} </a> </p>


          <table class="bordered width-100pc" style="font-size:12px;" style="width: 100%;">
		<thead>
            <tr>
            

                 <th>#</th> 
                <th>Course Title </th>
                <th>Course Code</th>
                <th>Credit hour</th>
                <th>ECTS </th>
				<th> Prerequisite </th>
               
           
            </tr>
        </thead>
        <tfoot>
        {% for course in courses %}
            <tr>


                <td>{{ loop.index }}) </td>
                <td>{{ course.name }}</td>
                <td>{{ course.ccode }}</td>
                <td>{{ course.creditHour }}</td>
                <td>{{ course.ects }}</td>
				     <td>{{ '-' }}</td>
               
              
            </tr>

	
        {% else %}
            <tr>
                <td colspan="6">No courses found</td>
            </tr>

		
        {% endfor %}

        </tfoot>

			<tfoot>
	     {% set sum1 = 0 %}
		 {% set sum2 = 0 %}
        {% for course in courses %}
		{%  set sum1 = sum1 + course.creditHour %}
		{%  set sum2 = sum2 + course.ects %}
		 {% endfor %}
         <tr>
         <td colspan="3" style="float-right;"> Total</td>
	
		 <td colspan=""> {{ sum1 }} </td>
         <td colspan="1"> {{ sum2 }}</td> 
		  <td colspan="1">-</td> 
         </tr>


        </tfoot>
    </table>
				
					
				</div>
<br><br>
______________	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _______________<br>
       <small>   &nbsp;&nbsp;&nbsp; Date </small>     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small> Advisors Signature </small> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <small>Registrar </small>
    <br>   <br>   <br>   <br>   <br>
				<small style="float: right;">
				   
			<u><b>N.B: </u><br> 
				1. Tuition fee is paid on the basis of contact hour <br>
				2. Tuition fee will be not be refunded after registration

								
				  <small> 
			
 </div>
</div>
			
	
	
	</body>

		
			   
</html>
